/*/////////////////////////FOOTER///////////////////////////////*/
footer
{ height:10%;
  width:100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background:linear-gradient(to right, #090135, rgb(2, 0, 10));
  font-size: 15px;
  color:#fff;
}
footer p 
{
  margin:0 25px;
  font-size:18px;
  font-weight: 500;
}
.social-links-footer
{
  display: flex;
align-items: center;
justify-content: space-between;
margin-right: 1%;

}
.social-links-footer li
{
  list-style: none;
}
.social-links-footer li a 
{
  margin: 0 5px;
  font-size: 18px;
}
