/*media queries(CELULAR)/////////////////////////*/
@media only screen and (max-width: 600px)
{
  /*//////////////HEADER////////////////////////*/
  .devops h1
  {
    font-size:2em !important;
  }
  .devops h2
  {
    font-size:1.1em !important;
  }
  .devops .social-links li a
  {
    font-size: 1.2em;
    margin:.6em;
  }

  ul li a 
  {
    font-size: 1.1em;
  }
  .main-menu
  {
    display: none;
  }
  .logo
  {
   left:20%;
   height: 4em !important;
  }
 .nav
 {

 width:100%;
 justify-content: space-between;
 
 }
 .hamburger
 {height:4em;
  display:block;
  left:85% !important;
 }
  header
  {
    background-image: linear-gradient(to right, #252325c2, #0817e77a), url('hero\(cellphone\).jpg'); 
    background-size: cover;
  }

  /*////////////////////HABILIDADES////////////////////////*/
  .skills-text
  {
    font-size:1.7em;
  }
  .skill-box .skill-title
  {
    font-size: .9em;
  }

  .skill-container
  {
    height: 62%;
  }

  /*///////////////////////EXPERIENCIAS////////////////////*/
  .modal-text
{
  max-height: 70vh;
  overflow-y: scroll;
}

.modal-text1
{
  max-height: 70vh;
  overflow-y: scroll;
}

  .experiencias-text

  {
    font-size: 1.7em;
  }
  
  .timeline
  {
    margin:50px auto;
  }
  .timeline::after
  {
    left:31px;

} 
.experiencias-container
{
  width:100%;
  padding-left:80px;
  padding-right: 25px;


}
.experiencias-text-box
{
  font-size: 13px;
}
.experiencias-text-box small
{
  margin-bottom: 10px;
}
.experiencias-right
{
  left:0
}
.experiencias-left img, 
.experiencias-right img

{
  left:10px;
}


.left-container-arrow
{
  border-right: 15px solid #fff;
  border-left: 0;
  left:-15px;
}
/*/////////////////PROJETOS//////////////////*/
.projetos-texto
{
  
  font-size: 1.7em;
  
}
.nxt-btn img,
.pre-btn img
{
  height:2.5em;
  width:2.5em;
}

/*/////////////////////////ARTIGOS////////////////////////*/
#artigos
{ 
  background-image:linear-gradient(to right, #070058c2, #0817e77a),url('artigos.jpg');
  background-size: cover;
  background-position: center;
}
.nxt-btn-artigos,
.pre-btn-artigos
{
  display: block;
}
.artigos
{
  display: flex;
  justify-content:left;
}
.artigos-text
{
  font-size: 1.7em;
  
}

/*///////////////CONTATO///////////////////////*/
.contato-text
{
  padding-top:5%;
font-size: 1.7em;
}
.main-div-contato
{
 
  
  display: block;
}
.svg-img
{
  display: flex;
  width:100%;
  justify-content: center;
}
.svg-img img 
{
height: 210px;
width:auto;
padding-top: 5%;
padding-bottom: 4em;
}
.btn-submit
{
  width:100%;
}
.form-div
{
  
  justify-content: right !important;
 
}
.input input
{
  width: 10em;
  height: 1.2em;
  background:#fff;
  border:1px solid #000;
  outline:none;
  color:#000;
  border-radius: 15px;
  margin:0 auto;
  text-align: left;
  padding: .3em;
  font-size:1em;
  font-weight:700;
}
textarea
{outline: none;
  border: none;
  width:14em;
  height:9em;
  padding:.3em;

  color:#000;
  border-radius: 12px;
  font-size:1em;
  font-weight:700;
  
}
/*////////////////////////FOOTER////////////////////////*/
.social-links-footer li a 
{
 
  font-size:22px;
}
footer p 
{
  font-size: .7em !important;
}

.social-links-footer li a 
{
  margin: 0 .3em;
  font-size: 1em;
}
.footer-direitos
{
  display: none;
}

}