@media only screen and (max-width: 1300px)
{
    .form-div
{
  
  justify-content: center;
 

}
/*//////////////HEADER//////////////////*/
header
{
    background-image:linear-gradient(to right, #252325c2, #0817e77a), url('hero\(tablet\(certa\)\).jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.logo
{
  height:4.4em;
  right:7%;
}
.devops img
{
  
  height:8em;
}

.devops h1{
font-size:2.4em;
}
.devops h2
{
  font-size:1.7em;
}
.social-links li a 
{
  font-size: 1.4em;
  margin:.8em;
 
}
.main-menu
{
    display: none;
}
.hamburger
{
    display: block;
    left: 93%;
}

/*//////////HABILIDADES////////////*/
.skills-text
{
    font-size:1.8em;
}
.skill-title
{
  font-size: .9em !important;
}
/*//////////////EXPERIENCIAS////////////////////*/
.modal-text
{
  max-height: 70vh;
  overflow-y: scroll;
}
/*///////////////CONTATO///////////////*/
.svg-img img 
{
    width:70%;
    margin-left:2em;
}

}